.navbar-text > a {
	color:inherit; 
	text-decoration: none;
}

.navbar {
	background-color:#782F40;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a {
	color: black;
}

.navbar-default .navbar-nav>li>a {
	color: white;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
	color: white;
}

.btn {
	background-color:#782F40;
	color: white;
}

.footcopy {
	color:white;
}

body {
	padding-top: 70px;
	padding-bottom: 100px;
	background-color: #F0EAD6;
}

.container .jumbotron, .container-fluid .jumbotron {
	background-color: #CEB888
}

p {
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Oswald', sans-serif;
}

.home-thumb img:hover{
	transform: scale(1.1);
}

.thumbnail img{
	transition: all 0.3s ease 0s;
	width: 100%;
}

.thumbnail {
	overflow:hidden;
}